.fuente{
    font-family: "Inter", serif;
}
h3{
    font-size: 1em;
    font-weight: 500;
}
p{
    font-size: 0.7em;
}

.fondoRosa{
    background-color: #C93B76;
}
.colorBlanco{
    color: #E5E7EB;
}
.grisClaro{
    color: #838589a6; 
}

.section1{
    background-image: url("/assets/resources/gradient-bg.jpg");
    background-size: cover;
}

#contReproductor{
    background-color: #171d269f;
    height: 30em;
    width: 20em;
    border-radius: 20px;
}

#conTitulos{
    height: 3em;
}

#barra{
    background-color: #E5E7EB;
    height: 3px;

    --progress-width: 0%; /* Definir la variable */
}
#barra::after{
    content: "";
    position: absolute;
    background-color: #C93B76;
    height: 3px;

    width: var(--progress-width); /*aplicar la variable*/
}

#barraTiempo{
    height: 1.2em;
}

#play{
    width: 3.5em;
    height: 3.5em;
    filter: drop-shadow(0px 8px 16px rgba(201, 59, 118, 0.25));
}

.margin-bottom{
    margin-bottom: 1em;
}

i{
    font-size: 1.5em;
}